html
  head
    title Matrix
    meta(charset='UTF-8')
    meta(content='', property='keywords')
    meta(content='Makky.io', property='og:title')
    meta(content='website', property='og:type')
    meta(content='', property='og:description')
    meta(content='http://app.makky.io', property='og:url')
    meta(content='app.makky.io', property='og:site_name')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/jquery/jquery.min.js')
    script(src='js/analytics.js')
    script(src='js/app.js')
  body
    h1 8x8 Matrix

    .board
      .screw_holes
        .screw_hole_left
        .screw_hole_right
      .display
        - for(i=0;i<64;i++)
          .cell(class='js-cell-#{i}')
      .screw_holes
        .screw_hole_left
        .screw_hole_right

    .footer
      
      p
        |&copy;
        a(href='http://makky.io', target='_blank') Makky.io
        |All Rights Reserved.